<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="@{/css/main.css}">
	<meta charset="UTF-8">
	<title>Mettre à jour une espèce</title>
</head>

<body>
	<form th:object="${species}" th:action="@{/species}" method="post">
		<input type="hidden" th:field="*{id}" />
		<div>
			<label for="commonName">Nom Commun : </label>
			<input type="text" th:field="*{commonName}" id="commonName" />
			<span th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}">Error</span>
		</div>
		<div>
			<label for="latinName">Nom latin :</label>
			<input type="text" th:field="*{latinName}" id="latinName" />
			<span th:if="${#fields.hasErrors('latinName')}" th:errors="*{latinName}">Error</span>
		</div>
		<div>
			<input type="submit" class="button" value="Sauver" />
			<input type="button" class="button" value="Retour" onclick="window.location='/species'" />
		</div>
	</form>

</body>

</html>